$yellow : #FFF000;

@mixin  margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0);
}

.card{
    flex: 1 150px;
    /* padding: 2px 5px 2px 5px; */
}

.card-precios{
    padding: 0px;
}

.carousel-item img{
    height: 400px;
    @include margenes(0, 20px );    
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0);
}

.footer-address-icon{
    padding-right: 10px;
}