.jumbotron {
  background-color: #FFFF00;
  color: black;
  margin-top: 50px;
  margin-bottom: 0; }

.card {
  flex: 1 150px;
  /* padding: 2px 5px 2px 5px; */ }

.card-precios {
  padding: 0px; }

.carousel-item img {
  height: 400px;
  margin-top: 0;
  margin-bottom: 20px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #FFFF00;
  margin-top: 10px;
  margin-bottom: 0; }

.footer-address-icon {
  padding-right: 10px; }
